.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 0px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.image-school {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: inline;
  flex-direction: column;
  align-items: center;
}

.container-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 300px;
}

.container-title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 20px;
}
